header {
  background-color: $primary-bg-color;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
}

.navbar-bg {
  background-color: $primary-bg-color;
}

.logo-dfyp {
  width: 10em;
}