body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-bg-color;
  text-align: center;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}